<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/cryptoSelect.css">
    <title>Select your Cryptocurrency</title>
</head>

<body>
    <div class="container">
        <div class="title">Please input the amount of each cryptocurrency you currently own:</div>
        <div class="crypto-details">
        <form class="form selectCrypto-form" action="#">
        <label for="BTC">Bitcoin (BTC):</label><br>
        <input type="text" id="BTC" name="BTC"><br>
        <label for="BCH">Bitcoin Cash (BCH):</label><br>
        <input type="text" id="BCH" name="BCH"><br>
        <label for="LTC">Litecoin (LTC):</label><br>
        <input type="text" id="LTC" name="LTC"><br>
        <label for="ETH">Ethereum (ETH):</label><br>
        <input type="text" id="ETH" name="ETH"><br>
        <label for="ADA">Cardano (ADA):</label><br>
        <input type="text" id="ADA" name="ADA"><br>
        <label for="DOT">Polkadot (DOT):</label><br>
        <input type="text" id="DOT" name="DOT"><br>
        <label for="USDT">Tether (USDT):</label><br>
        <input type="text" id="USDT" name="USDT"><br>
        <label for="BNB">Binance Coin (BNB):</label><br>
        <input type="text" id="BNB" name="BNB"> <br>
        <label for="TRX">Tron (TRX):</label><br>
        <input type="text" id="TRX" name="TRX"><br>
        <label for="LINK">Chainlink (LINK):</label><br>
        <input type="text" id="LINK" name="LINK"><br>
        <label for="DOGE">Dogecoin (DOGE):</label><br>
        <input type="text" id="DOGE" name="DOGE"><br>
        </div>
        <input type="submit" value="Save">
    </form>
</body>

</html>