<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/cryptoSelect.css">
    <title>Select your Cryptocurrency</title>
</head>

<body>
<h1>Please select which of the following cryptocurrency you currently own:</h1>

<form class="form">
    <div>
        <input type="checkbox" id="BTC" name="BTC">
        <label for="BTC">Bitcoin (BTC)</label>
    </div>

    <div>
        <input type="checkbox" id="BCH" name="BCH">
        <label for="BCH">Bitcoin Cash (BCH)</label>
    </div>

    <div>
        <input type="checkbox" id="LTC" name="LTC">
        <label for="LTC">Litecoin (LTC)</label>
    </div>

    <div>
        <input type="checkbox" id="ADA" name="ADA">
        <label for="ADA">Cardano (ADA)</label>
    </div>

    <div>
        <input type="checkbox" id="ETH" name="ETH">
        <label for="ETH">Ethereum (ETH)</label>
    </div>

    <div>
        <input type="checkbox" id="DOT" name="DOT">
        <label for="DOT">Polkadot</label>
    </div>

    <div>
        <input type="checkbox" id="USDT" name="USDT">
        <label for="USDT">Tether</label>
    </div>

    <div>
        <input type="checkbox" id="BNB" name="BNB">
        <label for="BNB">Binance Coin (BNB)</label>
    </div>

    <div>
        <input type="checkbox" id="TRX" name="TRX">
        <label for="TRX">Tron (TRX)</label>
    </div>

    <div>
        <input type="checkbox" id="LINK" name="LINK">
        <label for="LINK">Chainlink (LINK)</label>
    </div>

    <div>
        <input type="checkbox" id="DOGE" name="DOGE">
        <label for="DOGE">Dogecoin</label>
    </div>

    <div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>
</body>

</html>