<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap" rel="stylesheet">
    <title>Select your Cryptocurrency</title>
</head>

<body class="ledger-body">
    <div class="container ledger-container">
        <div class="title">Please input the amount of each cryptocurrency you currently own:</div>
        <div class="crypto-details">
        <form class="form selectCrypto-form" action="#">
        <label for="BTC">Bitcoin (BTC):</label>
        <input type="text" id="BTC" name="BTC">
        <input type="submit" value="Add"><br>
        <label for="BCH">Bitcoin Cash (BCH):</label>
        <input type="text" id="BCH" name="BCH">
        <input type="submit" value="Add"><br>
        <label for="LTC">Litecoin (LTC):</label>
        <input type="text" id="LTC" name="LTC">
        <input type="submit" value="Add"><br>
        <label for="ETH">Ethereum (ETH):</label>
        <input type="text" id="ETH" name="ETH">
        <input type="submit" value="Add"><br>
        <label for="ADA">Cardano (ADA):</label>
        <input type="text" id="ADA" name="ADA">
        <input type="submit" value="Add"><br>
        <label for="DOT">Polkadot (DOT):</label>
        <input type="text" id="DOT" name="DOT">
        <input type="submit" value="Add"><br>
        <label for="USDT">Tether (USDT):</label>
        <input type="text" id="USDT" name="USDT">
        <input type="submit" value="Add"><br>
        <label for="BNB">Binance Coin (BNB):</label>
        <input type="text" id="BNB" name="BNB">
        <input type="submit" value="Add"><br>
        <label for="TRX">Tron (TRX):</label>
        <input type="text" id="TRX" name="TRX">
        <input type="submit" value="Add"><br>
        <label for="LINK">Chainlink (LINK):</label>
        <input type="text" id="LINK" name="LINK">
        <input type="submit" value="Add"><br>
        <label for="DOGE">Dogecoin (DOGE):</label>
        <input type="text" id="DOGE" name="DOGE">
        <input type="submit" value="Add"><br>
        </div>
    </form>
</body>

</html>