<div class="row">
    <div class="col-md-6">
        
        <div class="create-acct-body login-body">
            <div class="container create-acct-container">
                <div class="title create-title login-title">Sign In:</div>
                <form class="form login-form" action="#">
                    <div class="user-details"></div>
                    <div class="form-group">
                        <label for="email-login">Email:</label>
                        <input class="form-input" id="email-login" type="text" placeholder="Username123" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="password-login">Password:</label>
                        <input class="form-input" id="password-login" type="password" placeholder="Password123!">
                    </div>
                    <br>
                    <div class="form-group">
                    <button type="submit" class="login-btn">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="create-acct-body">
    <div class="container create-acct-container">
        <div class="title create-title">Create an Account</div>

        <form class="form newUser-form signup-form" action="#">
            <div class="user-details">
                <div class="form-group">
                    <label for="name-signup">username:</label>
                    <input class="form-input" type="text" id="name-signup" placeholder="John or Jane" required>
                </div><br>
                {{!-- <div class="form-group">
                    <label for="user-lastName">Last Name:</label>
                    <input class="form-input" type="text" id="user-lastName" placeholder="Doe">
                </div> --}}
                <div class="form-group">
                    <label for="email-signup">Email:</label>
                    <input class="form-input" type="text" id="email-signup" placeholder="JohnOrJaneDoe@email.com" required>
                </div>
                
                <br>
                <div class="form-group">
                    <label for="password-signup">Password:</label>
                    <input class="form-input" type="password" id="password-signup" placeholder="Password123!" required>
                </div>
                {{!-- <div class="form-group">
                    <label for="user-confirmPassword">Confirm Password:</label>
                    <input class="form-input" type="password" id="user-password" placeholder="Password123!" required>
                </div> --}}
            </div>
            <div class="form-group">
                <button class="btn btn-primary create-btn" type="submit">Create Account</button>
            </div>
        </form>
    </div>
</div>

    </div>
</div>


<script src="./js/login.js"></script>
