<div class="container">
        <div class="title">Create an Account</div>
        <form class="form newUser-form" action="#">
            <div class="user-details">
                <div class="form-group">
                    <label for="user-firstName">First Name:</label>
                    <input class="form-input" type="text" id="user-firstName" placeholder="John or Jane" required>
                </div><br>
                <div class="form-group">
                    <label for="user-lastName">Last Name:</label>
                    <input class="form-input" type="text" id="user-lastName" placeholder="Doe">
                </div>
                <div class="form-group">
                    <label for="user-email">Email:</label>
                    <input class="form-input" type="text" id="user-email" placeholder="JohnOrJaneDoe@email.com" required>
                </div>
                <div class="form-group">
                </div>
                    <br>
                <div class="form-group">
                    <label for="user-Password">Password:</label>
                    <input class="form-input" type="password" id="user-password" placeholder="Password123!" required>
                </div>
                <div class="form-group">
                    <label for="user-confirmPassword">Confirm Password:</label>
                    <input class="form-input" type="password" id="user-password" placeholder="Password123!" required>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Create Account</button>
            </div>
        </form>
    </div>