<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<div>
    <table border="5" bordercolor="red" align="center">
        <tr>
            <th colspan="3">MyCryptoLedger</th> 
        </tr>
        <tr>
            <th>Photo</th>
            <th>Type of Currency</th>
            <th>Amount of Currency</th>
            <th>Currency Worth in USD</th>
        </tr>
        <tr>
            <td><img src="" alt="" border=3 height=100 width=100></img></td>
            <td>
                <label for="currency">Choose a currency:</label>
                <select name="currency" id="currency">
                    <option value="btc">Bitcoin</option>
                    <option value="bch">Bitcoin Cash</option>
                    <option value="bnb">Binance Coin</option>
                    <option value="eth">Ethereum</option>
                    <option value="link">Chainlink</option>
                </select>
            </td>
            <td>
                <label for="currency-amount">Amount:</label>
                <input type="text" id="currency-amount" name="currency-amount">
            </td>
            <td>
                <output name="worth-usd" class="worth-usd"></output>
            </td>
        </tr>
        <tr>
            <td><img src="" alt="" border=3 height=100 width=100></img></td>
            <td>
                <label for="currency">Choose a currency:</label>
                <select name="currency" id="currency">
                    <option value="btc">Bitcoin</option>
                    <option value="bch">Bitcoin Cash</option>
                    <option value="bnb">Binance Coin</option>
                    <option value="eth">Ethereum</option>
                    <option value="link">Chainlink</option>
                </select>
            </td>
            <td>
                <label for="currency-amount">Amount:</label>
                <input type="text" id="currency-amount" name="currency-amount">
            </td>
            <td>
                <output name="worth-usd" class="worth-usd"></output>
            </td>
        </tr>
        <tr>
            <td><img src="" alt="" border=3 height=100 width=100></img></td>
            <td>
                <label for="currency">Choose a currency:</label>
                <select name="currency" id="currency">
                    <option value="btc">Bitcoin</option>
                    <option value="bch">Bitcoin Cash</option>
                    <option value="bnb">Binance Coin</option>
                    <option value="eth">Ethereum</option>
                    <option value="link">Chainlink</option>
                </select>
            </td>
            <td>
                <label for="currency-amount">Amount:</label>
                <input type="text" id="currency-amount" name="currency-amount">
            </td>
            <td>
                <output name="worth-usd" class="worth-usd"></output>
            </td>
        </tr>
        <tr>
            <td><img src="" alt="" border=3 height=100 width=100></img></td>
            <td>
                <label for="currency">Choose a currency:</label>
                <select name="currency" id="currency">
                    <option value="btc">Bitcoin</option>
                    <option value="bch">Bitcoin Cash</option>
                    <option value="bnb">Binance Coin</option>
                    <option value="eth">Ethereum</option>
                    <option value="link">Chainlink</option>
                </select>
            </td>
            <td>
                <label for="currency-amount">Amount:</label>
                <input type="text" id="currency-amount" name="currency-amount">
            </td>
            <td>
                <output name="worth-usd" class="worth-usd"></output>
            </td>
        </tr>
        <tr>
            <td><img src="" alt="" border=3 height=100 width=100></img></td>
            <td>
                <label for="currency">Choose a currency:</label>
                <select name="currency" id="currency">
                    <option value="btc">Bitcoin</option>
                    <option value="bch">Bitcoin Cash</option>
                    <option value="bnb">Binance Coin</option>
                    <option value="eth">Ethereum</option>
                    <option value="link">Chainlink</option>
                </select>
            </td>
            <td>
                <label for="currency-amount">Amount:</label>
                <input type="text" id="currency-amount" name="currency-amount">
            </td>
            <td>
                <output name="worth-usd" class="worth-usd"></output>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <label for="worth-usd-total">Total Worth in USD:</label>
                <output name="worth-usd-total" class="worth-usd-total"></output>
            </td>
        </tr>
    </table>
</div>
</html>