* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  min-height: 100vh;
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  .video {
      width: 100%;
      height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video { 
      width:auto;
      height: 100%;
  }
} 
.navbar {
  position: absolute;
  width: 57.5px;
  height: 100%;
  background: #3e0748;
  transition: 0.5s;
  overflow: hidden;
}

.navbar:hover,
.navbar.active {
  width: 300px;
}

.navbar ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%
}
.navbar ul li {
  position: relative;
  width: 100%;
  list-style: none;
}

.navbar ul li:hover {
  background: #ea1d63
}

.navbar ul li a {
  position: relative;
  display: none;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}
.navbar ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.navbar ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

.navbar ul li a .icon .fas {
  font-size: 24px;
}

.toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: #330748;
  cursor: pointer;
}

.toggle.active {
  background: #ea1d63;
}

.toggle:before {
  content: '\f0c9';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  text-align: center;
  font-size: 24px;
  color: #fff;
}

.toggle.active:before {
  content: '\f00d';

}

.header {
  font-size: 45px;
  font-family: 'MuseoModerno', cursive;
  font-weight: bold;
  text-align: center;
  color: aqua;
}

@media (max-width: 767px) {
  .navbar {
      left: -60px;
  }
  .navbar.active {
      left: 0px;
      width: 100%
  }
}



















:root {
  --primary: #3d5852;
  --secondary: #86938f;
  --tertiary: #5e877f;
  --quatrinary: #6c6b67;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}
/* 
body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
} */

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}
/* 
header {
  padding: 40px;
  text-align: center;
  background: var(--primary);
  color: var(--light);
} */
/* 
main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
} */
/* 
aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: left;
  color: var(--light);
} */
/* 
nav {
  display: flex;
  background-color: var(--secondary);
} */
/* 
nav a {
  color: var(--light);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
} */
/* 
nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
} */
/* 
.gallery {
  flex: 4;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
} */
/* 
.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

img {
  max-width: 100%;
  height: auto;
} */
/* 
.painting {
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.painting-details {
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
} */


/* CARDS */
.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: #577a7c;
  color: var(--light);
}

.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}
/* 
.gallery-name {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px var(--secondary);
  border: 10px groove var(--light);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 100px;
  padding-left: 100px;
} */

/* LAYOUT */
/* 
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
} */
