* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'MuseoModerno';
  color: rgb(0, 0, 0);
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  .video {
      width: 100%;
      height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video { 
      width:auto;
      height: 100%;
  }
} 
.navbar {
  position: absolute;
  width: 57.5px;
  height: 100%;
  background: #418ea7;
  transition: 0.5s;
  overflow: hidden;
  font-family: 'MuseoModerno';
}

.navbar:hover,
.navbar.active {
  width: 300px;
}

.navbar ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%
}
.navbar ul li {
  position: relative;
  width: 100%;
  list-style: none;
}

.navbar ul li:hover {
  background: #1b4e5f;
    background: #1b4e5f;
}

.navbar ul li a {
  position: relative;
  display: none;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}
.navbar ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.navbar ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

.navbar ul li a .icon .fas {
  font-size: 24px;
}

.toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: #418ea7;
  cursor: pointer;
}

.toggle.active {
  background: #1b4e5f;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #418ea7;
    cursor: pointer;
}

.toggle.active {
    background: #1b4e5f;
}

.toggle:before {
  content: '\f0c9';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  text-align: center;
  font-size: 24px;
  color: #fff;
}

.toggle.active:before {
  content: '\f00d';

}

.header-index {
  font-size: 45px;
  font-family: 'MuseoModerno', cursive;
  font-weight: bold;
  text-align: center;
  text-decoration: underline #b1d7e4;
  color: #b1d7e4;
    font-size: 45px;
    font-family: 'MuseoModerno', cursive;
    font-weight: bold;
    text-align: center;
    text-decoration: underline #b1d7e4;
    color: #b1d7e4;
}

@media (max-width: 767px) {
  .navbar {
      left: -60px;
  }
  .navbar.active {
      left: 0px;
      width: 100%
  }
}

/* STYLING FOR "CREATE AN ACCOUNT PAGE"*/

.create-acct-body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.create-acct-container {
  max-width: 700px;
  width: 100%;
  background: #418ea7;
  padding: 25px 30px;
  border-radius: 5px;
}

.create-acct-container .title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
}

.create-acct-container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form .user-details .form-group {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.user-details .form-group .user-details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

form .user-details .form-group input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .form-group input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
}

form .create-btn {
  height: 40px;
  width: 100%;
  outline: none;
  box-shadow: aqua;
  color: #2e7085;
}

form .create-btn:hover {
  cursor: pointer;
}

/* STYLING FOR LEDGER */

.ledger-body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.ledger-container {
  max-width: 700px;
  width: 100%;
  background: #418ea7;
  padding: 25px 30px;
  border-radius: 5px;
}

.ledger-container .title {
  font-size: 25px;
  font-weight: 500;
}

/*LOGIN STYLING*/

.login-header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.login-form {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: red;
} */

.login-title {
  font-family: 'MuseoModerno';
}

.btn {
  color: red;
}

.login-password {
  align-content: right;
}

/* Contact Us Styling */

.contact-div {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  }

.contact-container {
  max-width: 700px;
  width: 100%;
  background: #418ea7;
  padding: 25px 30px;
  border-radius: 5px;
}

.contact-title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.contact-content input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.contact-btn {
  height: 40px;
  width: 100%;
  outline: none;
  box-shadow: aqua;
  color: #2e7085;
}

.contact-btn:hover {
  cursor: pointer;
}




