.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video { 
        width:auto;
        height: 100%;
    }
} 

.header {
    font-size: 45px;
    font-family: 'MuseoModerno', cursive;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: aqua;
}